
 body {
  background: #f9f7fe;
  font-family: Arial;
}
.weather-app {
  background: white;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 12px 12px 10px 10px #f5f3fb;
}
.search-form {
  display: flex;
  gap: 15px;
  align-items: end;
}
.search-input {
  background: #f9f7fe;
  border: none;
  width: 75%;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 16px;
}
.search-button {
  background: #885df1;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
}
.search-button:disabled {
  background-color: rgb(200, 200, 200);
  cursor: not-allowed;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.weather-container {
  display: flex;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  font-size: 36px;
}
.weather-app-details {
  font-size: 15px;
  color: #6e6c74;
  margin-bottom: 50px;
}
.weather-app-details strong {
  color: #f65282;
}
.weather-temperature {
  font-size: 60px;
  font-weight: bolder;
  line-height: 120px;
}
.weather-unit {
  font-size: 18px;
  margin-top: 34px;
  margin-left: 5px;
}
.weather-icon {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}
.aaa {
  display: none;
}
a {
  color: #885df1;
}
.weather-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
}
/* .forecast-day {
  border-right: 1px solid rgb(212, 212, 212);
  border-left: 1px solid rgb(212, 212, 212);
} */

.forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.forecast-icon {
  display: block;
  margin: 0 auto;
  width: 68px;
  height: 68px;
}
.forecast-temperatures {
  text-align: center;
  color: #f65282;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.forecast-temperature {
  padding: 0 7px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 12px;
}
